Requirements

Library : Microsoft DirectX SDK (June 2010)
{
    Include Directories
    {
        Include Folder      
    }

    Library Directories
    {
        Lib Folder : x64 || x86
    }

    Additional Dependencies
    {
        d3d11.lib,
        d3dx11.lib
    }
}
